#### python input and output to make program dynamic for developer while coding and for user while running

In [2]:
msg=input()
msg

'hii'

In [3]:
msg

'hii'

In [6]:
hero=input('Who is your favourite hero?')
print(hero)

Shahrukh Khan

In [36]:
age=input('Enter your current age')
type(age)

str

In [37]:
age=input('Enter your age')
age=int(age)#type casting
type(age)

int

In [40]:
name=input('Enter your name')
age=input('Enter your age')
institute=input('Enter your institute name')
print(name,'\n',age,'\n',institute)

Zeenat
 21
 Digipodium

In [47]:
#wap to print simpleinterest and amount
principal=input('Enter the principle')
rate=input('Enter the rate')
time=input('Enter the time')
principal=float(principal)
rate=float(rate)
time=float(time)
simpleinterest=principal*rate*time/100
amount=simpleinterest+principal
print("simple interest is",simpleinterest,'\n',"amount is",amount)

simple interest is 100.0
 amount is 1100.0

In [50]:
#wap to print area of a circle
radius=input('Enter radius of a circle')
radius=float(radius)
Area=3.14*radius**2
print('radius is:',radius,'\n','area of circle is:',Area)

radius is: 10.0
 area of circle is: 314.0

In [1]:
x='1000'
y='-2000'
(x+y)#concatenationofstrings

'1000-2000'

In [2]:
x=int(x)
y=int(y)
x+y

-1000

In [7]:
z=1.32323
z1=int(z)
print(z)
print(type(z))
print(z1)
print(type(z1))

1.32323
<class 'float'>
1
<class 'int'>

In [12]:
a=input('Enter name')
type(a)

str

In [16]:
p1=3.145
p=int(p1)
type(p1)

float

* Output
  * print() function
  * output formatting

In [17]:
name='William Shakespeare'

In [22]:
name,z#raw output(when you just put a variable in cell to see output ,its known as raw output)

('William Shakespeare', 1.32323)

## output-print() function

In [23]:
print(name,z)#clean output

William Shakespeare 1.32323

In [27]:
print(name,z,sep='\n')#formatting print
print(name,z,sep='----- ')

William Shakespeare
1.32323
William Shakespeare----- 1.32323

In [29]:
print(1,2,3,4)
print(1,2,3,4,sep='*')

1 2 3 4
1*2*3*4

In [34]:
print('Hello','how','are','you')
print('Hello','how','are','you',sep='*')
print('Hello','how','are','you',sep='ðŸ’¢',end='ðŸ™‹â€â™€ï¸',start)

Hello how are you
Hello*how*are*you
HelloðŸ’¢howðŸ’¢areðŸ’¢youðŸ™‹â€â™€ï¸

In [35]:
print(1,end='  ')
print(2,3)
print(4,5,6)

1  2 3
4 5 6

In [37]:
print(1,end='   ')
print(2,3,end='ðŸ¥¶')
print(4,5,6)

1   2 3ðŸ¥¶4 5 6

# output formatting

In [39]:
# the f strings
qty=10
fruit='apple'
print('i will purchase',qty,fruit,'today')

i will purchase 10 apple today

In [42]:
name="Digipodium"
type_of_company="Educational"
#enclose your variable within the{}
#to display it's value in the output
print(f"{name} is an {type_of_company} company.")

Digipodium is an Educational company.

In [44]:
a=90
b=60
c=a/b

* comma separated print

In [46]:
print(a,'/', b,'is equal to',c)

90 / 60 is equal to 1.5

* using C like format strings

In [50]:
print('%d/%d is equals to %f'%(a,b,c))#ðŸš«

90/60 is equals to 1.500000

* using concatenation style

In [56]:
print(str(a)+'/'+str(b)+' is equals to '+str(c))#ðŸš«

90/60 is equals to 1.5

* python formatting style before version 3.6

In [57]:
print('{}/{} is equals to {}'.format(a,b,c) )

90/60 is equals to 1.5

* f-string style after version 3.6

In [59]:
print(f'{a}/{b} is equals to {c}')#âœ”(most preferable)

90/60 is equals to 1.5

In [60]:
print(c)

1.5

* fixing the decimal placea : in f string

In [61]:
print(f'when we divide 10 by 3 we get {10/3}')

when we divide 10 by 3 we get 3.3333333333333335

In [62]:
print(f'when we divide 10 by 3 we get {10/3:.3f}')

when we divide 10 by 3 we get 3.333

In [63]:
a=10/3

In [64]:
print(f'10/3=>{a:.1f}')

10/3=>3.3