* list
  * sequential(ordered)
  * mixed datatype(heterogeneous)
  * can be empty
  * can have duplicates(we can add or remove elements)
  * represented as'[]' in python 
  * list function creates a list

what we are going to learn
* creation
* Indexing and slicing
* Methods
* Comprehension

In [3]:
a=[ ] #empty

In [2]:
type(a)

list

In [4]:
b=[23,34,12,56,78] #numeric
c=['Alex','Ana','Billy',230] #string 
d=['Alex',300,'Ana',320,'Billy',230] #mixed
e=[[1,2,3],[2,3,4],[4,5,6]] #nested list(list within a list)
f=[1]*10 #duplicated list

In [91]:

print(b)
print(c)
print(d)
print(e)
print(f)

[2, 3]
['Alex', 'Ana', 'Billy', 230]
[230, 'Billy', 320, 'Ana', '300', 'Alex']
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
d=['Alex','300','Ana',320,'Billy',230]
print(d)
print(*d)#PRINTING LIST USING SPACE
print(*d,sep=',')#PRINTING LIST SEPARATED BY A COMMA
print(*d,sep="\n")#PRINTING LIST IN NEW LINE

['Alex', '300', 'Ana', 320, 'Billy', 230]
Alex 300 Ana 320 Billy 230
Alex,300,Ana,320,Billy,230
Alex
300
Ana
320
Billy
230

In [7]:
for x in range(len(d)):
    print(d[x])

Alex
300
Ana
320
Billy
230

In [8]:
for i in d:
    print(i)

Alex
300
Ana
320
Billy
230

In [9]:
for i in d:
    print(d)

['Alex', '300', 'Ana', 320, 'Billy', 230]
['Alex', '300', 'Ana', 320, 'Billy', 230]
['Alex', '300', 'Ana', 320, 'Billy', 230]
['Alex', '300', 'Ana', 320, 'Billy', 230]
['Alex', '300', 'Ana', 320, 'Billy', 230]
['Alex', '300', 'Ana', 320, 'Billy', 230]

In [10]:
for i in d:
    print(i,end=' ')

Alex 300 Ana 320 Billy 230

In [11]:
word='wikipedia'
charlist=list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [12]:
charlist[0]

'w'

In [13]:
charlist[-1]

'a'

In [14]:
charlist[:4]

['w', 'i', 'k', 'i']

In [15]:
d[:4]

['Alex', '300', 'Ana', 320]

In [16]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [17]:
d[4:]

['Billy', 230]

In [18]:
d[::-1]

[230, 'Billy', 320, 'Ana', '300', 'Alex']

In [19]:
print(d)

['Alex', '300', 'Ana', 320, 'Billy', 230]

In [20]:
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [21]:
print(d)

['Alex', '300', 'Ana', 320, 'Billy', 230]

In [22]:
d.reverse()
print(d)

[230, 'Billy', 320, 'Ana', '300', 'Alex']

In [23]:
name='Zeenat'
print(name)
l=list(name)
print(l)

Zeenat
['Z', 'e', 'e', 'n', 'a', 't']

In [24]:
l.reverse()
print(l)

['t', 'a', 'n', 'e', 'e', 'Z']

In [25]:
print(l)

['t', 'a', 'n', 'e', 'e', 'Z']

In [26]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [27]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

 In list there are only 11 methods
 * adding items
   * append()
   * insert()
   * extend()
* removing items
   * remove() 
   * pop()
   * clear()
* utility
   * reverse()
   * count()
   * index()
   * copy()
   * sort()

In [116]:
numbers=[]
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [63]:
for i in range(5):

    v=int(input("enter a number:"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 45]
[2, 3, 5, 45, 12]
[2, 3, 5, 45, 12, 2]
[2, 3, 5, 45, 12, 2, 4]
[2, 3, 5, 45, 12, 2, 4, 512]

In [64]:
print(numbers)

[2, 3, 5, 45, 12, 2, 4, 512]

In [65]:
numbers.remove(45)

In [66]:
print(numbers)

[2, 3, 5, 12, 2, 4, 512]

In [67]:
numbers

[2, 3, 5, 12, 2, 4, 512]

In [68]:
numbers.insert(2,4)
print(numbers)

[2, 3, 4, 5, 12, 2, 4, 512]

In [69]:
numbers.insert(23,31)#inser at index 23 will put 31 at last
print(numbers)

[2, 3, 4, 5, 12, 2, 4, 512, 31]

In [70]:
numbers.pop(3)

5

In [72]:
numbers.pop()#remove the last element from list

31

In [73]:
print(numbers)

[2, 3, 4, 12, 2, 4, 512]

In [74]:
x=[1,2,3]
y=[2,3,5]
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3]
[2, 3, 5]
[1, 2, 3, [2, 3, 5]]

In [75]:
print(x)

[1, 2, 3, [2, 3, 5]]

In [83]:
x=[1,2,3]
y=[2,3,5]
#merge a list into another list
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [84]:
z =x + y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [85]:
numbers

[2, 3, 4, 12, 2, 4, 512]

In [86]:
del a

In [93]:
print(b)
del b[1]#this is not th best, use pop() instead
print(b)

[2, 3]
[2]

In [ ]:
print(d)
del d

In [ ]:
del e,f

In [ ]:

for num  in range(2,1000):
    for i in range(2,num):
        if num % i == 0:
            break       
    else:
      print(num)

In [ ]:
lower=900
upper=1000
print("prime numbers between",lower,"and",upper,"are:")
for num in range (lower,upper+1):
    #all prime no's are greater than 1
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

In [138]:
primes = []
for nun in range(2,1000):
    for i in range(2,nun):
        if nun % i == 0:
            break
        
    else:
        primes.append(nun)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [8]:
z=['aleed',1,2,3]
print(z)
z.clear()
print(z)

['aleed', 1, 2, 3]
[]

In [1]:
x=[1,2,3,1,2,3,3,3,1,2,1,2]

In [5]:
x.count(3)

4

In [4]:
x.count(5)

0

In [11]:
names=['Desmond','Alex','Samus','Jerry','Freddy','August']
names.index('Alex')

1

In [12]:
names.index('August')

5

In [1]:
names.reverse()
print(names)

NameError: name 'names' is not defined

In [5]:
names.sort()
print(names)

NameError: name 'names' is not defined

In [17]:
x.sort()
print(x)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [19]:
x.sort(reverse=True)
print(x)

[3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1]

In [20]:
names.sort(reverse=True)
print(names)

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [21]:
names

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [6]:
backup=names #reference to the same list

NameError: name 'names' is not defined

In [23]:
backup_v2=names.copy()#copy the list

In [24]:
names.remove('Samus')

In [25]:
backup_v2.append('Markus')

In [26]:
print(names)

['Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [27]:
print(backup)

['Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [28]:
print(backup_v2)

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex', 'Markus']

In [2]:
x=[1,2,6,9,6,7,12,13]
print(x)
x.sort()
print(x)
x.sort(reverse=False)#same as simple sort function
print(x)
x.sort(reverse=True)#reverse in descending order
print(x)

[1, 2, 6, 9, 6, 7, 12, 13]
[1, 2, 6, 6, 7, 9, 12, 13]
[1, 2, 6, 6, 7, 9, 12, 13]
[13, 12, 9, 7, 6, 6, 2, 1]