In [1]:
#tuple with mixed datatypes
my_tuple=(1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [1]:
#nested tuple
my_tuple=("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [2]:
#a tuple can be created without using parenthesis
#this is also known as tuple packing
my_tuple=3,4.6,"Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [3]:
#concatenation
#output:(1,2,3,4,5,6)
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [7]:
#repeat
#Output:('Repeat','Repeat','Repeat')
print(("Repeat,"*3))

Repeat,Repeat,Repeat,

In [8]:
my_tuple=('a','p','p','l','e',)
print(my_tuple.count('p'))#Output:2
print(my_tuple.index('l'))#Output:3

2
3

In [5]:
#set of intgers
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [9]:
#set of mixed datatypes
my_set={1.0,"Oye",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Oye'}

In [10]:
#set cannot have duplicates
#Output:{1,2,3,4}
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [11]:
#we can make set from a list
#Output:{1,2,3}
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [15]:
my_set={1,2,[3,4]}# set cannot have mutable items
#here[3,4] is a mutable list
#this will cause an error

TypeError: unhashable type: 'list'

In [16]:
#initialize a with set()
a=set()
#check datatype of a
print(type(a))

<class 'set'>

In [17]:
#initialize my_set
my_set={1,3}
print(my_set)

{1, 3}

In [21]:
#add an element
#Output:{1,2,3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [18]:
#add multiple elements
#Output:{[2,3,4]}
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [22]:
#add list and set
#Output:{1,2,3,4,5,6,8}
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 3, 4, 5, 6, 8}

In [23]:
#add list and set
#Output:{1,2,3,4,5,6,8}
my_set=([4,5],{1,6,8})
print(my_set)

([4, 5], {8, 1, 6})

In [21]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [26]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [ ]:
my_set.pop()
print(my_set)

In [28]:
my_set.clear()
print(my_set)

set()

In [32]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [34]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
A.intersection(B)

{4, 5}

In [40]:
print(A & B)

{4, 5}

In [41]:
B.intersection(A)

{4, 5}

In [42]:
print(A-B)

{1, 2, 3}

In [43]:
print(B-A)

{8, 6, 7}

In [44]:
A.difference(B)

{1, 2, 3}

In [45]:
B.difference(A)

{6, 7, 8}

In [47]:
print(A^B)
print(B^A)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [52]:
A.symmetric_difference(B)
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [54]:
x=set()
n=int(input('ENTER NO. OF ELEMENTS'))
for i in range(10):
    numbers.append(n)
    print

In [ ]:
2